<%= render "shared/top_nav_marketplace"%>
<%# main container after top nav bar %>
<div class="container border">
<%# One row will exist with 2 columns to hold all content %>
  <div class="row" style="min-height: 50vh;">
  <%# This row will hold navigation for messages profile and manage ads %>
    <div class="col-12 col-sm-3 border mt-3">
      <ul class="nav flex-sm-column mt-3 justify-content-center justify-content-sm-start">
        <li class="nav-item">
          <a class="nav-link active" href="<%= profile_path(current_user.id) %>">Profile Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= listings_dashboard_path %> ">Manage Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= conversations_path %>">Messages</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-8 ml-sm-3 border mt-3">
      <%# This container will have the profile information %>
      <div class="container-fluid border mt-3">
        <% if @conversations.present? %>
          <% @conversations.each do |conversation| %>
            <div class="card my-3">
              <div class="card-header">
                <% if conversation.recipient_id == current_user.id %>
                  <%= link_to "#{@profiles.find(conversation.sender_id).first_name}", conversation_messages_path(conversation) %>
                <% else %>
                  <%= link_to "#{@profiles.find(conversation.recipient_id).first_name}", conversation_messages_path(conversation) %>
                <% end%>
              </div>
              <div class="card-body">
                <%= conversation.messages.last.body %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="container-fluid my-3 bg-light border">
          <div class="row d-flex my-3 justify-content-center">
            <div class="col-8 d-flex justify-content-center align-items-center">
              <p class="my-0">You currently have no conversations</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>